# Ignorar diretórios de modelo e cache
models/
__pycache__/
*.pyc
.cache/

# Ignorar arquivos grandes do modelo (em qualquer subpasta)
*.bin
*.safetensors
*.msgpack
*.h5
*.ot

# Ignorar pasta de ambiente virtual
venv/
